*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    /* background-color: aqua; */
    height: 10vh;
    
    
}
bodysi{
    font-size: 18px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px ;
}
.navbar a{
    text-decoration: none;
    color: rgb(1, 1, 57);
    

}
.navbar a:hover{
    color: red;
}
.links{
   display: flex;
   column-gap: 25px;
}

button{
    color: red;
    height: 45px;
    width: 110px;
    border: transparent;
    background-color: rgba(78, 78, 78, 0.056);
}



.sec03{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    
}