* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /* background-color: aqua; */
    height: 10vh;



}

body {
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: rgb(1, 1, 57);


}

.navbar a:hover {
    color: red;
}

.links {
    display: flex;
    column-gap: 25px;
}

button {
    color: red;
    height: 45px;
    width: 110px;
    border: transparent;
    background-color: rgba(136, 136, 136, 0.056);
    z-index: 5;
    position: relative;
}



.sec03 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    justify-content: space-around;
    margin-right: 50px;
    color: rgb(6, 6, 95);

}

.titre {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.titre h2 {
    color: rgb(6, 6, 95);
    font-size: xx-large;
}

.secBttn {
    background-color: red;
    box-shadow: 4px 4px 4px red;
    color: white;
    height: 30px;
    border-radius: 20px / 30px;
}

.first-icon,
.sec-icon {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    justify-content: center;
    padding: 20px;
    /* background-color: blueviolet; */
    height: 35vh;
    width: 20vw;
    border: transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

i {
    font-size: 30px;
}

footer {
    background-color: rgb(38, 6, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    row-gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

footer h2 {
    color: red;
}

footer a {
    color: white;
    column-gap: 30px;
}

#check {
    display: none;

}

.fa-bars {
    display: none;
}

/* .fa-x {
    display: none;
} */

@media (max-width: 425px) {
    nav, section, footer{
        width: 100vw;
        height: 100vh;
    }

    nav {
        display: flex;
        column-gap: 50px;
        /* justify-content: space-between; */
    }
    nav button{
        display: none;
    }

   

    .sec03 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 70px;
        margin-top: 40vw; 
        margin-bottom: 50vw;
    }

    .first-icon {
        width: 50vw;
        height: 50vh;
        font-size: medium;

    }

    .sec-icon {
        width: 50vw;
        height: 50vh;
        font-size: medium;
    }

    footer {
        margin-top: 30px;
    }
    footer .link-footer{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .fa-bars {
    display: block;
}
#check:checked ~ .links{
    right: 7px;
   

}
/* #check{
    display: block;
} */
.links{
        flex-direction: column;
        width: 50vw;
        height: 50vh;
        justify-content: space-between;
        position: absolute;
        top: 60vh;
        right: -60vh;
        padding: 20px;
        transition: 1s; 
        background-color: aquamarine;
    }
}