* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /* background-color: aqua; */
    height: 10vh;
    


}

body {
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: rgb(1, 1, 57);


}

.navbar a:hover {
    color: red;
}

.links {
    display: flex;
    column-gap: 25px;
}

button {
    color: red;
    height: 45px;
    width: 110px;
    border: transparent;
    background-color: rgba(136, 136, 136, 0.056);
    z-index: 5;
    position: relative;
}



.sec03 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    justify-content: space-around;
    margin-right: 50px;
    color: rgb(6, 6, 95);

}

.titre {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.titre h2 {
    color: rgb(6, 6, 95);
    font-size: xx-large;
}

.secBttn {
    background-color: red;
    box-shadow: 4px 4px 4px red;
    color: white;
    height: 30px;
    border-radius: 20px / 30px;
}

.first-icon,
.sec-icon {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    justify-content: center;
    padding: 20px;
    /* background-color: blueviolet; */
    height: 35vh;
    width: 20vw;
    border: transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

i {
    font-size: 30px;
}

footer {
    background-color: rgb(38, 6, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    row-gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

footer h2 {
    color: red;
}

footer a {
    color: white;
    column-gap: 30px;
}