*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    /* background-color: aqua; */
    height: 10vh;
    
    
}
.navbar, .bttn{
    font-size: 18px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px ;
}
.navbar a{
    text-decoration: none;
    color: rgb(1, 1, 57);
    

}
.navbar a:hover{
    color: red;
}
.links{
   display: flex;
   column-gap: 25px;
}

button{
    color: red;
    height: 45px;
    width: 110px;
    border: transparent;
    background-color: rgba(78, 78, 78, 0.056);
}

.sec03{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */margin-right: 50px;
}
.titre{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}
.titre h2{
    color: rgb(1, 1, 56);
}

.secBttn{
    background-color: red;
    color: white;
    height: 30px;
    border-radius: 20px / 30px;
}

.first-icon, .sec-icon{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    justify-content: center;
    padding: 20px;
    /* background-color: blueviolet; */
    height: 35vh;
    width: 20vw;
    border: transparent;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

 i{
font-size: 30px;
}